.main {
  display: flex;
  max-width: 375px;
  height: 812px;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  background: var(--Light-Grey, #FAFAFA);
  margin: 0 auto;
}