.addlink {
    display: flex;
    padding: 11px 27px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    overflow-y: hidden;
    background-color: white;
}

.card {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    border-radius: 12px;
    background: var(--Light-Grey, #FAFAFA);
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.card .platform {
    margin-bottom: 10px;
}

.platform,
.link {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.platform label,
.link label {
    color: var(--Dark-Grey, #333);
    align-self: stretch;
    font-family: "Instrument Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.platform select {
    display: flex;
    align-self: stretch;
    padding: 12px 16px;
    gap: 12px;
    border-radius: 8px;
    border: 1px solid var(--Borders, #D9D9D9);
    background: var(--White, #FFF);
}

.link .linkinput{
    display: flex;
    align-self: stretch;
    padding: 12px 16px;
    gap: 12px;
    border-radius: 8px;
    border: 1px solid var(--Borders, #D9D9D9);
    background: var(--White, #FFF);
}

.link .linkinput input {
    color: var(--Dark-Grey, #333);

/* Body M */
    font-family: "Instrument Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    border: none;
    outline: none;
}